name: Checks

on:
  workflow_call:
    secrets:
      gitleaks: 
        required: true

jobs:
  golang:
    name: GoLint
    runs-on: ubuntu-latest
    steps:
      - name: Run GoLint
        uses: Mad-Pixels/github-workflows/.github/actions/taskfile-runner@main
        with:
          command: go/run/lint

  app-tests:
    name: AppTests
    runs-on: ubuntu-latest
    steps:
      - name: Run Go Tests
        uses: Mad-Pixels/github-workflows/.github/actions/taskfile-runner@main
        with:
          command: go/tests/app
          
  template-tests:
    name: TemlTests
    runs-on: ubuntu-latest
    steps:
      - name: Run static template parts tests
        uses: Mad-Pixels/github-workflows/.github/actions/taskfile-runner@main
        with:
          command: go/tests/template

  compile-tests:
    name: compile-tests
    runs-on: ubuntu-latest
    steps:
      - name: Run template compile tests
        uses: Mad-Pixels/github-workflows/.github/actions/taskfile-runner@main
        with:
          command: go/tests/compile

  leaks:
    name: GitLeaks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITLEAKS_LICENSE: ${{ secrets.gitleaks }}
          GITLEAKS_CONFIG: ./.gitleaks.toml