name: Checks

on:
  workflow_call:
    secrets:
      gitleaks:
        required: true

permissions:
  contents: read

jobs:
  golint:
    name: GoLint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run GoLint
        uses: Mad-Pixels/github-workflows/actions/taskfile-runner@v1
        with:
          command: go/run/lint

  app-tests:
    name: App
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run Go Tests
        uses: Mad-Pixels/github-workflows/actions/taskfile-runner@v1
        with:
          command: go/tests/app

  compile-tests:
    name: Compile
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run template compile tests
        uses: Mad-Pixels/github-workflows/actions/taskfile-runner@v1
        with:
          command: go/tests/compile

  terraform:
    name: Terraform
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: TfFmt
        uses: Mad-Pixels/github-workflows/actions/taskfile-runner@v1
        with:
          command: tf/fmt

  leaks:
    name: GitLeaks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITLEAKS_LICENSE: ${{ secrets.gitleaks }}
